{% extends "layout2/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2 class="page-header">Tambah ID Instansi - RPL</h2>
    <form action="/master-instansi/rpl/tambah/" method="post">
      {% csrf_token %}

      {% if msg %}
        <div class="alert alert-success">{{ msg }} <a href="/master-instansi/">Kembali</a> </div>
      {% endif %}
      <div class="form-group">
        <label for="">NAMA INSTANSI</label>
        <input type="text" class="form-control" name="nama" placeholder="ex: CodePolitan" required autofocus>
      </div>
      <div class="form-group">
        <label for="">ALAMAT INSTANSI</label>
        <textarea name="alamat" class="form-control" rows="8" cols="80" required placeholder="Masukkan alamat lengkap instansi..."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Simpan</button>
        <a href="/master-instansi/rpl" class="btn btn-danger btn-lg">Kembali</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
